@font-face {
  font-family: "Roboto_Condensed";
  src: url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700");
}
@font-face {
  font-family: "PT_SANS";
  src: url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
}

.wrapper {
  background: #d3d3d3;
}
h2 {
  margin-top: 20px;
  color: #696969;
  font-family:'Roboto_Condensed',sans-serif;
}
span {
  color: #696969;
  font-family: 'PT_SANS',sans-serif;  
}
a {
  color: #bd7f13;
 
}
.no-padding{
  padding:0px!important;
}
.header {
  background-color: #191919;
  padding: 25px;
  color:white;
}

